<!-- Sanitized Font Urls -->
<h3 class="heading">FY17 NA-LA Tech Arch Workshop</h3>
<div [hidden]="loading && !questions.length > 0">
    <div>
        <div (click)="closeNotification()" class="notifications elementToFadeInAndOut" [hidden]="!showNotification">
            <div class="notify" [class.notification-error]="!success" [class.notification-success]="success"
                 [innerHTML]="message">
            </div>
        </div>
        <div class="wrap center"> <!-- Just to center ver and hor -->
            <form *ngFor="let question of questions" (submit)="submitQuestion(question.input, question.name)">
                <div>
                    <div class="wrap-label">
                        <label [class.disabled]="question.disabled">{{question.description}}</label>
                        <p class="iconicfill-pen-alt2"></p>
                    </div>
                    <input [disabled]="question.disabled" type="text" id="{{question.name}}" name="{{question.name}}"
                           autocomplete="off" autocorrect="off" [(ngModel)]="question.input">
                </div>
            </form>
            <button class="myButton" [class.loading]="loading" data-label="Submit" [disabled]="loading"
                    (click)="submitAll()">Submit
            </button>
        </div>
    </div>
    <fireworks [hidden]="!showCanvas"></fireworks>
</div>
<div [hidden]="!loading">
    <loading [hidden]="questions.length > 0"></loading>
</div>
