<div>
    <div *ngIf="showNotification" class="notifications elementToFadeInAndOut">
        <div class="notification notify">
            Redesign Conf
        </div>
    </div>
    <div class="wrap center"> <!-- Just to center ver and hor -->
        <form *ngFor="let question of questions" (submit)="submitQuestion(topic, question.name)">
            <div>
                <div class="wrap-label">
                    <label>{{question.description}}</label>
                    <p class="iconicfill-pen-alt2"></p>
                </div>
                <input type="text" id="{{question.name}}" name="{{question.name}}" autocomplete="off" autocorrect="off" [(ngModel)]="question.input">
            </div>
        </form>
    </div>
</div>
<fireworks [hidden]="!expload"></fireworks>
