@import url(http://fonts.googleapis.com/css?family=Lato:300|Oswald);
.notifications {
  position: absolute;
  top: 10%;
  right: 0;
  box-shadow: 0 0 0 0.5em rgba(0, 0, 0, 0.1);
  transform: translate(-50%, -50%);
}

.notification {
  position: relative;
  width: 20em;
  padding: 0 1em;
  font-size: 0.8em;
  line-height: 3.125;
  color: white;
  cursor: pointer;
  background-color: #2b2b2b;
  background-image: -webkit-linear-gradient(#2b2b2b, #262626);
  background-image: linear-gradient(#2b2b2b, #262626);
}

.notification:hover {
  background-color: tomato;
  background-image: -webkit-linear-gradient(tomato, #e02200);
  background-image: linear-gradient(tomato, #e02200);
}

.notification.notify:after {
  content: '1';
  display: block;
  position: absolute;
  top: 0;
  right: 1.3333em;
  width: 2em;
  margin: 1.0833em 0;
  border-radius: 50%;
  font-size: 0.75em;
  line-height: 2;
  text-align: center;
  background: #f53d3d;
  box-shadow: 0 0 0 0.25em #c20a0a;
  animation: pulse 0.75s infinite;
}

@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
@-moz-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  25% {
    box-shadow: 0 0 0 0.05em #c20a0a;
  }
  50% {
    box-shadow: 0 0 0 0.375em #c20a0a;
  }
  75% {
    box-shadow: 0 0 0 0.2em #c20a0a;
  }
  100% {
    box-shadow: 0 0 0 0.3em #c20a0a;
  }
}
/** PAGE STYLES **/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
