.pioenvs
.pub
packages
.packages
pubspec.lock
.idea
.swp
build
node_modules/

dist/
.tmp/
*.js.map
src/**/*.js
src/*.js
npm-debug.log
!src/server/**/*.js
.DS_Store
sample
nativescript-ui-samples-angular
app-platform/src/images
