.active {
  color: red;
}

.white-label {
  float: left;
  background: #33373B;
  max-width: 210px;
  padding: 10px;
  min-height: 74px;
  background: #279BE4;
  width: 100%;
  max-height: 80px;
}
.white-label img {
  max-height: 54px;
}

#sidebar {
  background-color: white;
}